@use '../mixins';
@use '../variables';

.navbar {
    @include mixins.flex-config(row, center, center); 
    background-color: #00d4ff;
    padding: 1.6rem; 
    justify-content: space-between;

    .logo{
      display: flex;
      align-items: center;
      img{
        width: 80px;
        border-radius: 50%;
      }
      h1{
        font-size: 1.8rem;
        margin-left: 1.2rem;
        color: rgb(0, 0, 99);
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  
    ul {
      display: flex; 
      flex-wrap: wrap;
      gap: 3rem;
  
      li {
        list-style: none;
      }
  
      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        transition: color 0.3s ease; 
  
        &:hover {
          color: rgb(0, 0, 150);
        }
      }
    }
  }