@use '../mixins';
@use '../variables';

.dashboard {
  @include mixins.inicial-config;

  .header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 2rem;
      color: variables.$color-black;
      margin-bottom: 0.5rem;
    }

    p {
      max-width: 700px;
      margin: variables.$margin-center;
      font-size: 1.2rem;
      color: variables.$color-white;
    }
  }

  .graficos,
  .grafico-mapa {
    @include mixins.flex-config('',space-around,'');
    flex-wrap: wrap;
    margin-bottom: 2rem;

    img {
      max-width: 400px;
      margin: 5px;
      border-radius: variables.$border-radius-medium;
    }
  }

  .grafico-mapa {
    align-items: center;

    .linhas {
      max-width: 700px;
      height: 250px;
      margin: 5px;
      border-radius: variables.$border-radius-medium;
    }
  }

  .maps {
    margin-top: 2rem;

    .mapa {
      margin: variables.$margin-center;
      max-width: 900px;
    }
  }

  @media (max-width: 1300px) {
    .graficos,
    .grafico-mapa {
  
      img {
        max-width: 350px;
        margin-top: 2rem;
      }
    }
  }

  @media (max-width: 768px) {
    .grafico-mapa {    
        .linhas {
          max-width: 400px;
          height: 250px;
        }
      }
  }

  @media (max-width: 480px) {
    padding: 1rem;

    .header h1 {
      font-size: 1rem;
    }

    .header p {
      font-size: 0.8rem;
      max-width: 90%;
    }

    .graficos,
    .grafico-mapa {
      img,
      .linhas {
        max-width: 90%;
      }
    }

    .maps .mapa {
      max-width: 90%;
    }
  }
}
