@use '../mixins';
@use '../variables';

.dashboard {
  padding: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 17, 121, 1) 43%, rgba(0, 212, 255, 1) 98%);


  .header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 2rem;
      color: black;
      margin-bottom: 0.5rem;
    }

    p {
      max-width: 700px;
      margin: 0 auto;
      font-size: 1.2rem;
      color: #fff;
    }
  }

  .graficos,
  .grafico-mapa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;

    img {
      max-width: 400px;
      margin: 5px;
      border-radius: 8px;
    }
  }

  .grafico-mapa {
    align-items: center;

    .linhas {
      max-width: 700px;
      height: 250px;
      margin: 5px;
      border-radius: 8px;
    }
  }

  .maps {
    margin-top: 2rem;

    .mapa {
      margin: 0 auto;
      max-width: 900px;
    }
  }

  @media (max-width: 1300px) {
    .graficos,
    .grafico-mapa {
  
      img {
        max-width: 350px;
        margin-top: 2rem;
      }
    }
  }

  @media (max-width: 768px) {
    .grafico-mapa {    
        .linhas {
          max-width: 400px;
          height: 250px;
        }
      }
  }

  @media (max-width: 480px) {
    padding: 1rem;

    .header h1 {
      font-size: 1rem;
    }

    .header p {
      font-size: 0.8rem;
      max-width: 90%;
    }

    .graficos,
    .grafico-mapa {
      img,
      .linhas {
        max-width: 90%;
      }
    }

    .maps .mapa {
      max-width: 90%;
    }
  }
}
