@use '../mixins';
@use '../variables';

.geral {
  padding: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 17, 121, 1) 43%, rgba(0, 212, 255, 1) 98%);

  .container-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .intro {
      max-width: 40%;

      h2 {
        font-size: 1.6rem;
        color: black;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #fff;
        text-align: justify;
      }
    }

    .imagem {
      img {
        width: 580px;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  .impactos {
    margin: 0 auto;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid black;
    border-radius: 8px;
    max-width: 80%;
    padding: 2rem;

    h2 {
      font-size: 1.6rem;
      color: black;
      margin-bottom: 0.5rem;
      text-transform: uppercase;

    }

    p {
      font-size: 1.1rem;
      line-height: 1.5;
      color: black;
      text-align: justify;
    }

    ul {
      margin-top: 1rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  article {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;

    .video {
      padding: 2rem;

      span {
        display: block;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        text-align: center;
        color: #fff;
      }

      iframe {
        width: 90%;
        height: 400px;
        margin: 0 auto;
        display: block;
      }

      .infograficos {
        max-width: 90%;
        background-color: rgba(255, 255, 255, 0.7);
        border: 3px solid black;
        border-radius: 8px;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;

        h2 {
          font-size: 1.6rem;
          color: black;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
        }

        p {
          font-size: 1.1rem;
          color: black;
        }

        a {
          display: inline-block;
          margin-top: 8px;
          font-size: 1.1rem;
          color: #007bff;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .guia-acoes {
      margin-top: 2rem;
      background-color: rgba(255, 255, 255, 0.7);
      border: 3px solid black;
      border-radius: 8px;
      max-width: 40%;
      padding: 2rem;


      h2 {
        font-size: 1.6rem;
        color: black;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.5;
        color: black;
        text-align: justify;
      }

      ul {
        margin-top: 1rem;

        li {
          margin-bottom: 1rem;

          ul {
            a {
              display: inline-block;
              font-size: 0.9rem;
              color: #007bff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .container-intro {
      .imagem {
        margin-bottom: 2rem;
      }

      .intro {
        max-width: 80%;
      }
    }

    article {
      flex-wrap: wrap;

      .guia-acoes {
        max-width: 80%;
        margin-top: -2rem;
      }
    }
  }
}