// Cores
$hover-color: #1b199e;
$color-black: #000;
$color-white: #fff;
$color-blue: #007bff;

// Border Radius
$border-radius-small: 4px;
$border-radius-medium: 8px;

// Margin 
$margin-center: 0 auto;