* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #00d4ff;
  padding: 1.6rem;
  justify-content: space-between;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 80px;
  border-radius: 50%;
}
.navbar .logo h1 {
  font-size: 1.8rem;
  margin-left: 1.2rem;
  color: #1b199e;
  font-weight: bold;
}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.navbar ul li {
  list-style: none;
}
.navbar ul a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}
.navbar ul a:hover {
  color: #1b199e;
}
@media (max-width: 1216px) {
  .navbar {
    display: block;
  }
  .navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1.2rem;
  }
  .navbar .logo {
    justify-content: center;
  }
  .navbar .logo img {
    width: 60px;
  }
  .navbar .logo h1 {
    font-size: 1.5rem;
    margin-left: 0.8rem;
  }
  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .navbar ul a {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .navbar {
    padding: 0.8rem;
  }
  .navbar .logo {
    flex-direction: column;
    align-items: center;
  }
  .navbar .logo img {
    width: 50px;
  }
  .navbar .logo h1 {
    font-size: 1.2rem;
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .navbar ul {
    gap: 1.5rem;
  }
  .navbar ul a {
    font-size: 1rem;
  }
}

.home {
  padding: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(9, 17, 121) 43%, rgb(0, 212, 255) 98%);
}
.home .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.4rem;
  margin: 0 auto;
}
.home .container .intro {
  width: 460px;
}
.home .container .intro .title {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0.5rem;
}
.home .container .intro p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
  text-align: justify;
}
.home .container .carrosel {
  width: 700px;
  height: 320px;
}
.home .info {
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
}
.home .info h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  text-align: center;
}
.home .info .overview {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.home .info .overview img {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
}
.home .info .overview .texto {
  max-width: 700px;
  display: flex;
  justify-content: center;
}
.home .info .overview .texto .paragrafos p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
  text-align: justify;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .home .container {
    flex-direction: column;
  }
  .home .container .carrosel {
    width: 420px;
    height: 320px;
  }
  .home .info {
    width: 100%;
  }
  .home .info h2 {
    font-size: 1.2rem;
  }
  .home .info .overview {
    gap: 2rem;
  }
  .home .info .overview img {
    max-width: 80%;
  }
  .home .info .overview .texto {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .home .container {
    flex-direction: column;
  }
  .home .container .intro {
    max-width: 250px;
  }
  .home .container .carrosel {
    width: 250px;
    height: 120px;
  }
  .home .info {
    width: 90%;
  }
  .home .info .overview img {
    max-width: 250px;
  }
}

.dashboard {
  height: 1100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(9, 17, 121) 43%, rgb(0, 212, 255) 98%);
}

.geral {
  padding: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(9, 17, 121) 43%, rgb(0, 212, 255) 98%);
}
.geral .container-intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.geral .container-intro .intro {
  max-width: 40%;
}
.geral .container-intro .intro h2 {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0.5rem;
}
.geral .container-intro .intro p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
  text-align: justify;
}
.geral .container-intro .imagem img {
  width: 580px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.geral .impactos {
  margin: 0 auto;
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid black;
  border-radius: 8px;
  max-width: 80%;
  padding: 2rem;
}
.geral .impactos h2 {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.geral .impactos p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: black;
  text-align: justify;
}
.geral .impactos ul {
  margin-top: 1rem;
}
.geral .impactos ul li {
  margin-bottom: 1rem;
}
.geral article {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}
.geral article .video {
  padding: 2rem;
}
.geral article .video span {
  display: block;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
}
.geral article .video iframe {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  display: block;
}
.geral article .video .infograficos {
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid black;
  border-radius: 8px;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}
.geral article .video .infograficos h2 {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.geral article .video .infograficos p {
  font-size: 1.1rem;
  color: black;
}
.geral article .video .infograficos a {
  display: inline-block;
  margin-top: 8px;
  font-size: 1.1rem;
  color: #007bff;
  text-decoration: none;
}
.geral article .video .infograficos a:hover {
  text-decoration: underline;
}
.geral article .guia-acoes {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid black;
  border-radius: 8px;
  max-width: 40%;
  padding: 2rem;
}
.geral article .guia-acoes h2 {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.geral article .guia-acoes p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: black;
  text-align: justify;
}
.geral article .guia-acoes ul {
  margin-top: 1rem;
}
.geral article .guia-acoes ul li {
  margin-bottom: 1rem;
}
.geral article .guia-acoes ul li ul a {
  display: inline-block;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}
@media (max-width: 1100px) {
  .geral .container-intro .imagem {
    margin-bottom: 2rem;
  }
  .geral .container-intro .intro {
    max-width: 80%;
  }
  .geral article {
    flex-wrap: wrap;
  }
  .geral article .guia-acoes {
    max-width: 80%;
    margin-top: -2rem;
  }
}

.empresarial {
  height: 1100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(9, 17, 121) 43%, rgb(0, 212, 255) 98%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;/*# sourceMappingURL=index.css.map */